* {
  margin: 3px;
  padding: 0;
}

.header {
  color: blueviolet;
}
.list {
  margin-top: 30px;
}
div.list p {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 3px;
  padding: 3px;
  width: 450px;
}
div.list a {
  text-decoration: none;
}
.nav {
  margin-bottom: 30px;
}
.nav a {
  display: inline-block;
  font-weight: bold;
  font-size: 1.2em;
}
.nav :first-child {
  margin-right: 10px;
}

strong {
  color: red;
}

form div :first-child {
  margin-right: 30px;
}

form div * {
  display: inline-block;
  vertical-align: baseline;
}
